{% extends 'base.html' %}

{% block content %}

<!-- this page displays the add food feature where users can add items to the database -->
<div class="container">
<div class="row">
    <div class="col-lg-6">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1 class="headline">Add Food</h1>
            </div>

            <form method="POST" action="" class="login-form form-inline">
              {% csrf_token %}
              
                {% for field in form %}
                <h5 class="form-labels">
                {{ field.label }}
                </h5>
                {{ field }}
                 
                {% endfor %}
           
                <input class="btn mt-2" type="submit" value="Add">

            </form>
           
        </div>
        
    </div>
    </div>
    </div>
</div>
</div>
{% endblock content %}